* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 20px;
    background-color: #f2f2f2;
    color: #48484a;
    text-align: center;
    width: 100%;
}

section.search {
    margin: 15px 0;
}

p.error_message {
    color: darkred;
}

p.date {
    color: #dd674b;
}

.img_and_temp {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

span.temp {
    font-size: 40px;
    font-weight: bold;
}

section.weather_bottom {
    margin-top: 10px;
}

section.weather_bottom p {
    margin-bottom: 10px;
}

section.weather_bottom p span {
    font-weight: bold;
}

footer {
    padding: 20px;
    text-align: center;
    color: #f2f2f2;
    background-color: #48484a;
    width: 100%;
}